.resimslider{
    height: 600px;
}

body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.yeşil{
    width: 350px;
    height: 380px;
    float:right;
    padding: 20px;
}

.hakkimda{
    background-color:bisque;
}

.ayrac{
    border: none;
    border-top: 3px solid black;
    max-width: 250px;
    margin: 25px auto;
}

.ekipcard>img:hover{
opacity: 0.6;
}

.galeri{
    background-color:lightgray;
}

.figure:hover{
    opacity: 0.8;
}

.right{
    float: right;
}